extends layout

block content
  h1= title
  -
    let resu =results
  div(class= "container-fluid")
    div(class = "row")
      each item,index in resu
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.forest_location}
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.forest_size}
        div(class= "col-sm-2", onclick=`buy(${index})`) #{item.forest_name}

  script.
    function buy(itemNum){
      alert(`Whats your forest name?{itemNum+1}`)
    }